.accent {
  bottom: 0;
  height: @accent-height;
  left: 0;
  margin: auto 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.accent-container {
  position: relative;
  z-index: 0;
}

.accent-overlay {
  position: relative;
  z-index: 2;
}
