.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-neutral,
.bg-dark,
.bg-soft {
  color: #fff;
}

.bg-success { .bg-variant(@brand-success); }
.bg-info    { .bg-variant(@brand-info);    }
.bg-warning { .bg-variant(@brand-warning); }
.bg-danger  { .bg-variant(@brand-danger);  }
.bg-neutral { .bg-variant(@brand-neutral); }
.bg-dark    { .bg-variant(@brand-dark);    }
.bg-soft    { .bg-variant(@brand-soft);    }

.bg-white { background-color: @bg-white; }

.bg-striped {
  background-image: @bg-striped;
  background-size: @bg-striped-width @bg-striped-height;
  background-attachment: fixed;
}

.bg-striped-dark {
  background-image: @bg-striped-dark;
}

.bg-dashed {
  background-image: @bg-dashed;
  background-repeat: repeat;
}

.bg-circle-stripes {
  background-image: @bg-circle-stripes;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: @bg-circle-stripes-width;
}

@media (max-width: @screen-xs-max) {
  .bg-none-xs { background-image: none !important; }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .bg-none-sm { background-image: none !important; }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .bg-none-md { background-image: none !important; }
}

@media (min-width: @screen-lg-min) {
  .bg-none-lg { background-image: none !important; }
}
