.pseudoBorder (@col, @adjust: 0) {
  background-color: @border-color;
  bottom: 0;
  content: '';
  display: block;
  left: percentage((@col / @grid-columns));
  margin-left: @adjust;
  position: absolute;
  top: 0;
  width: @border-width;
  z-index: -1;
}

.createBorderClass (@size) {
  .bordered--@{size} {
    border-style: solid;
    border-color: @border-color;
    border-width: 0;
  }

  .bordered--@{size}--none { border: none; }

  .bordered--centred--@{size} {
    position: relative;
    &:before { .pseudoBorder(6, -0.5px); }
  }

  .bordered--centred--@{size}--none {
    &:before { display: none; }
  }

  .bordered--third--@{size} {
    position: relative;
    &:before { .pseudoBorder(4); }
    &:after { .pseudoBorder(8); }
  }

  .bordered--top--@{size} { border-top-width: @border-width; }
  .bordered--right--@{size} { border-right-width: @border-width; }
  .bordered--bottom--@{size} { border-bottom-width: @border-width; }
  .bordered--left--@{size} { border-left-width: @border-width; }
}

.createBorderClass (xs);

@media (min-width: @screen-sm-min) {
  .createBorderClass (sm);
}

@media (min-width: @screen-md-min) {
  .createBorderClass (md);
}

@media (min-width: @screen-lg-min) {
  .createBorderClass (lg);
}

.h-border-top,
.h-border-bottom,
.h-border-left,
.h-border-right {
  background: @text-inverse;
  position: absolute;
  transition: all 125ms ease-in-out;
}

.h-border-top,
.h-border-bottom {
  left: 0;
  right: 0;
  height: @padding-base / 2;
}

.h-border-left,
.h-border-right {
  bottom: 0;
  top: 0;
  width: @padding-base / 2;
}

.h-border-top { top: -@padding-base / 2; }
.h-border-bottom { bottom: -@padding-base / 2; }
.h-border-left { left: -@padding-base / 2; }
.h-border-right { right: -@padding-base / 2; }

.h-border {
  overflow: hidden;
  position: relative;

  &:hover {
    .h-border-top { top: 0; }
    .h-border-bottom { bottom: 0; }
    .h-border-left { left: 0; }
    .h-border-right { right: 0; }
  }
}
