.btn-group {
  .btn-hollow-thick + .btn-hollow-thick,
  .btn-hollow-thick + .btn-group,
  .btn-group + .btn-hollow-thick,
  .btn-group + .btn-group {
    margin-left: -@btn-hollow-thick-border-size;
  }
}
