.btn {
  border-width: 0;
  .text-heavy;
  .button-size(@btn-padding-vertical; @btn-padding-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
}

.btn-neutral {
  .button-variant(@btn-neutral-color; @btn-neutral-bg; @btn-default-border);
}

.btn-dark {
  .button-variant(@btn-dark-color; @btn-dark-bg; @btn-default-border);
}

.btn-soft {
  .button-variant(@btn-soft-color; @btn-soft-bg; @btn-default-border);
}

.btn-hollow {
  border-width: @btn-hollow-border-size;
  .button-size(@btn-padding-vertical - @btn-hollow-border-size; @btn-padding-vertical - @btn-hollow-border-size; @font-size-base; @line-height-base; @btn-border-radius-base);
}

.btn-hollow-thick {
  border-width: @btn-hollow-thick-border-size;
}

.btn-hollow-default {
  .button-variant(@btn-hollow-default-color; @btn-hollow-default-bg; @btn-hollow-default-border);
}

.btn-hollow-white {
  .button-variant(@btn-hollow-default-color; @text-inverse; @btn-hollow-default-border);
}

.btn-hollow-white-outline {
  .button-variant(@text-inverse; @btn-hollow-default-bg; @text-inverse);
}

.btn-wide {
  .button-size(@btn-padding-vertical; @btn-padding-wide-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
}

.btn-menu {
  .button-size(@btn-padding-menu-vertical; @btn-padding-menu-horizontal; @btn-menu-font-size; @line-height-base; @btn-border-radius-base);
  .ion-navicon-round:before { line-height: 40px; }

  @media (max-width: @screen-sm-max) {
    .button-size(@btn-padding-menu-vertical-xs; @btn-padding-menu-horizontal-xs; @btn-menu-font-size; @line-height-base; @btn-border-radius-base);
  }

  &:hover { background: @body-bg; }
}

.btn-social {
  .button-size(@btn-padding-social-vertical; @btn-padding-social-horizontal; @btn-social-font-size; @line-height-small; @btn-border-radius-base);
  width: @btn-social-width;
}

.btn-logo {
  border-width: @btn-logo-border-size;
  .button-size(@btn-padding-logo-vertical; @btn-padding-logo-horizontal; @btn-logo-font-size; @line-height-base; @btn-border-radius-base);
  @media (max-width: @screen-xs-max) {
    font-size: @btn-logo-font-size * 0.75;
  }
}

.btn-xxl {
  .button-size(@btn-padding-xxl-vertical; @btn-padding-xxl-horizontal; @btn-xxl-font-size; @line-height-base; @btn-border-radius-base);

  @media (max-width: @screen-xs-max) {
    .button-size(@btn-padding-xxl-vertical; @btn-padding-xxl-horizontal / 2; @btn-xxl-font-size; @line-height-base; @btn-border-radius-base);
  }
}
