.divider-container {
  position: relative;
}

.divider-container--inline-block {
  display: inline-block;
}

.divider {
  position: absolute;
  background-color: @divider-bg;
}

.divider--tilt {
  transform: rotate(-20deg);
}

.divider--horizontal--xs {
  width: @divider-width;
  height: @divider-height
}

.divider--vertical--xs {
  width: @divider-height;
  height: @divider-width;
}

.divider--top-left--xs,
.divider--top-right--xs {
  bottom: auto;
  top: @divider-top-pos-xs;
}

.divider--bottom-left--xs,
.divider--bottom-right--xs {
  bottom: @divider-bottom-pos-xs;
  top: auto;
}

.divider--top-left--xs,
.divider--bottom-left--xs {
  left: @divider-left-pos-xs;
  right: auto;
}

.divider--top-right--xs,
.divider--bottom-right--xs {
  left: auto;
  right: @divider-right-pos-xs;
}

@media (min-width: @screen-sm-min) {
  .divider--horizontal--sm {
    width: @divider-width;
    height: @divider-height;
  }

  .divider--vertical--sm {
    width: @divider-height;
    height: @divider-width;
  }

  .divider--top-left--sm,
  .divider--top-right--sm {
    bottom: auto;
    top: @divider-top-pos-sm;
  }

  .divider--bottom-left--sm,
  .divider--bottom-right--sm {
    bottom: @divider-bottom-pos-sm;
    top: auto;
  }

  .divider--top-left--sm,
  .divider--bottom-left--sm {
    left: @divider-left-pos-sm;
    right: auto;
  }

  .divider--top-right--sm,
  .divider--bottom-right--sm {
    left: auto;
    right: @divider-right-pos-sm;
  }
}

@media (min-width: @screen-md-min) {
  .divider--horizontal--md {
    width: @divider-width;
    height: @divider-height;
  }

  .divider--vertical--md {
    width: @divider-height;
    height: @divider-width;
  }

  .divider--top-left--md,
  .divider--top-right--md {
    bottom: auto;
    top: @divider-top-pos-sm;
  }

  .divider--bottom-left--md,
  .divider--bottom-right--md {
    bottom: @divider-bottom-pos-sm;
    top: auto;
  }

  .divider--top-left--md,
  .divider--bottom-left--md {
    left: @divider-left-pos-sm;
    right: auto;
  }

  .divider--top-right--md,
  .divider--bottom-right--md {
    left: auto;
    right: @divider-right-pos-sm;
  }
}

@media (min-width: @screen-lg-min) {
  .divider--horizontal--lg {
    width: @divider-width;
    height: @divider-height;
  }

  .divider--vertical--lg {
    width: @divider-height;
    height: @divider-width;
  }

  .divider--top-left--lg,
  .divider--top-right--lg {
    bottom: auto;
    top: @divider-top-pos-sm;
  }

  .divider--bottom-left--lg,
  .divider--bottom-right--lg {
    bottom: @divider-bottom-pos-sm;
    top: auto;
  }

  .divider--top-left--lg,
  .divider--bottom-left--lg {
    left: @divider-left-pos-sm;
    right: auto;
  }

  .divider--top-right--lg,
  .divider--bottom-right--lg {
    left: auto;
    right: @divider-right-pos-sm;
  }
}

.divider--landing-1 {
  right: -40%;
  top: 0;

  &.f2 { margin-top: 17%; right: 0; top: 100%; }
  &.f3 { margin-top: 17%; left: 0; right: auto; top: 100%; }
  &.f4 { left: -40%; right: auto; top: 0; }
}

.divider--landing-2 {
  left: -@divider-height;
  top: 0;
  margin-top: -30%;

  &.f2 { left: auto; right: 0; }
  &.f3 { margin-top: 0; left: -40%; top: 0; }
  &.f4 { margin-top: 0; left: auto; right: -40%; top: 100%; }
}

.divider--landing-3 {
  bottom: 0;
  left: -40%;

  &.f2 { bottom: 100%; left: -40%; }
  &.f3 { left: auto; right: -40%; }
  &.f4 { bottom: auto; left: 100%; margin-top: -30%; top: 0; }
}
