.embed-container {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;

  iframe.embedly-embed {
    left: 0;
    position: absolute;
    top: 0;
    .square(100%);
  }
}
