.load-font(@font-family, @font-style) {
  @font-face {
    font-family: @font-family;
    src: url('/fonts/@{font-family}.eot');
    src: url('/fonts/@{font-family}.eot?iefix') format('embedded-opentype'),
         url('/fonts/@{font-family}.ttf') format('truetype');
    font-style: @font-style;
  }
}

.load-font('Avenir-Light', 'normal');
.load-font('Avenir-LightOblique', 'normal');
.load-font('Avenir-Book', 'normal');
.load-font('Avenir-BookOblique', 'italic');
.load-font('Avenir-Roman', 'normal');
.load-font('Avenir-Oblique', 'italic');
.load-font('Avenir-Medium', 'normal');
.load-font('Avenir-MediumOblique', 'normal');
.load-font('Avenir-Heavy', 'normal');
.load-font('Avenir-HeavyOblique', 'normal');
.load-font('Avenir-Black', 'normal');
.load-font('Avenir-BlackOblique', 'italic');
