.form-control {
  .text-heavy;

  border: @input-border-size solid @input-border;
  border-style: none none solid none;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;

  textarea& {
    border-style: solid;
    padding: @padding-xtiny;
  }
}

.input-lg {
  .input-size(@input-height-large; @padding-tiny + @padding-xtiny; 0; @font-size-large; @line-height-large; @input-border-radius-large);
  textarea& { padding: @padding-tiny; }
}

.form-group-lg {
  .form-control {
    padding: 0;
    font-size: @font-size-large;
  }

  textarea.form-control { padding: @padding-tiny; }

  .control-label {
    color: @input-color-placeholder;
    font-size: @font-size-large;
    line-height: @input-height-large - @input-border-size;
    height: @input-height-large;
  }
}

.input-hollow-white-outline {
  border-style: solid;
  border-color: @text-inverse;
  color: @text-inverse;
}

.input-xxl {
  .input-size(@input-xxl-height; @input-xxl-vertical-padding; @input-xxl-horizontal-padding; @input-xxl-font-size; @line-height-base; @input-border-radius-large);

  @media (max-width: @screen-sm-max) {
    .input-size(@input-xxl-height; @input-xxl-vertical-padding / 2; @input-xxl-horizontal-padding; @input-xxl-font-size / 2; @line-height-base; @input-border-radius-large);
  }
}

.input-group-btn {
  &:last-child {
    > .btn-hollow { margin-left: -@btn-hollow-border-size; }
  }
}
