.gallery {
  align-items: center;
  background: fade(black, 90%);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: @zindex-gallery;
}

.gallery__body {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  .container-fluid {
    width: 100%;
  }

  @media (min-width: @screen-md-min) {
    .row {
      width: auto;
      display: flex;
      justify-content: center;
    }

    .col-md-9 {
      width: auto;
    }
  }

  img {
    display: inline-block;
    height: auto;
    max-height: 80vh;
    max-width: 60vw;
    width: auto;

    @media (max-width: @screen-sm-max) {
      max-height: 50vh;
    }
  }
}
