.fa-font();
.ion-font();

.fa-chevron-left:before { .fa-icon('chevron-left'); }
.fa-chevron-right:before { .fa-icon('chevron-right'); }
.fa-chevron-down:before { .fa-icon('chevron-down'); }
.fa-times:before { .fa-icon('times'); }
.fa-windows:before { .fa-icon('windows'); }

.ion-social-facebook:before { .ion-icon('social-facebook'); }
.ion-social-twitter:before { .ion-icon('social-twitter'); }
.ion-social-instagram:before { .ion-icon('social-instagram'); }
.ion-social-vimeo:before { .ion-icon('social-vimeo'); }
.ion-social-youtube:before { .ion-icon('social-youtube'); }

.ion-social-google:before { .ion-icon('social-google'); }
.ion-social-yahoo:before { .ion-icon('social-yahoo'); }
.ion-social-apple:before { .ion-icon('social-apple'); }

.ion-email:before { .ion-icon('email'); }
.ion-ios-printer:before { .ion-icon('ios-printer'); }
.ion-navicon-round:before { .ion-icon('navicon-round'); }

.icon-fixed {
  display: inline-block;
  text-align: center;
  width: 1.28571429em;
}
