.landing {
  background: @landing-bg;
  border: @landing-border-size solid @landing-border-color;
  display: table;
  left: 0;
  height: 100%;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  visibility: visible;
  z-index: @landing-zindex;
  transform: translateY(0);

  .container { display: table-row; }
  .row {
    display: table-cell;
    height: 33%;
    vertical-align: middle;
  }

  @media (max-width: @screen-xs-max) {
    border: @landing-border-size / 2 solid @landing-border-color;
  }
}

.landing--hidden {
  opacity: 0;
  transition: opacity 250ms, visibility 250ms, transform 500ms;
  transform: translateY(-50px);
  visibility: hidden;
}

.landing--visible + div {
  opacity: 0;
  position: fixed;
  width: 100%;
}
