@media print {
  .non-printable { display: none; }
  .container {
    width: 100%;
    max-width: 100%;
  }

  a[href]:after {
    content: none !important;
  }

  @page {
    size: 330mm 427mm;
    margin: 14mm;
  }

  .make-grid(md);
}
