@media (min-width: @screen-md-min) {
  .subscribe {
    bottom: 0;
    height: @subscribe-md-height;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: -1;
  }

  .main {
    background-color: @body-bg;
    margin-bottom: @subscribe-md-height;
    position: relative;
    z-index: 2;
  }
}
