body {
  font-size: @font-size-base-xs;

  @media (min-width: @screen-sm-min) {
    font-size: @font-size-base-sm;
  }

  @media (min-width: @screen-md-min) {
    font-size: @font-size-base-md;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p {
  .append-xs-1;

  @media (min-width: @screen-sm-min) {
    .append-xs-2;
  }
}

blockquote {
  border-left: none;
  padding: 0;
  padding-top: @padding-base + @padding-xtiny;
  position: relative;

  .h2;

  .prepend-xs-none;
  .append-xs-2;

  @media (min-width: @screen-sm-min) {
    .append-xs-3;
  }

  &:before, &:after {
    content: '‛';
    display: block;
    font-size: @blockquote-quote-font-size;
    position: absolute;
    line-height: 1;
    top: -0.17em;
  }

  &:before {
    left: -0.07em;
    transform: scaleY(-0.8);
    top: -0.62em;
  }

  &:after {
    left: 0.13em;
    transform: scale(-1, 0.8);
  }
}

h1, .h1 {
  font-family: @h1-font-family;
  font-size: @font-size-h1-xs;

  @media (min-width: @screen-md-min) {
    font-size: @font-size-h1-md;
  }

  @media (min-width: @screen-lg-min) {
    font-size: @font-size-h1-lg;
  }
}

h2, .h2 {
  font-size: @font-size-h2-xs;
  line-height: 1.33;

  @media (min-width: @screen-md-min) {
    font-size: @font-size-h2-md;
  }

  @media (min-width: @screen-lg-min) {
    font-size: @font-size-h2-lg;
  }
}

.body-primary { .body-variant(@brand-primary; @btn-primary-color; @brand-primary; @btn-default-border); }
.body-success { .body-variant(@brand-success; @btn-success-color; @brand-success; @btn-default-border); }
.body-info { .body-variant(@brand-info; @btn-info-color; @brand-info; @btn-default-border); }
.body-warning { .body-variant(@brand-warning; @btn-warning-color; @brand-warning; @btn-default-border); }
.body-danger { .body-variant(@brand-danger; @btn-danger-color; @brand-danger; @btn-default-border); }
.body-neutral { .body-variant(@brand-neutral; @btn-neutral-color; @brand-neutral; @btn-default-border); }
.body-dark { .body-variant(@brand-dark; @btn-dark-color; @brand-dark; @btn-default-border); }
.body-soft { .body-variant(@brand-soft; @btn-soft-color; @brand-soft; @btn-default-border); }
.body-haze { .body-variant(@brand-haze; @btn-haze-color; @brand-haze; @btn-default-border); }
.body-clay { .body-variant(@brand-clay; @btn-clay-color; @brand-clay; @btn-default-border); }
.body-shocking { .body-variant(@brand-shocking; @btn-shocking-color; @brand-shocking; @btn-default-border); }
.body-chetwood { .body-variant(@brand-chetwood; @btn-chetwood-color; @brand-chetwood; @btn-default-border); }
.body-glade { .body-variant(@brand-glade; @btn-glade-color; @brand-glade; @btn-default-border); }
.body-anakiwa { .body-variant(@brand-anakiwa; @btn-anakiwa-color; @brand-anakiwa; @btn-default-border); }
.body-tan { .body-variant(@brand-tan; @btn-tan-color; @brand-tan; @btn-default-border); }
.body-manz { .body-variant(@brand-manz; @btn-manz-color; @brand-manz; @btn-default-border); }
.body-silk { .body-variant(@brand-silk; @btn-silk-color; @brand-silk; @btn-default-border); }
.body-buccaneer { .body-variant(@brand-buccaneer; @btn-buccaneer-color; @brand-buccaneer; @btn-default-border); }
.body-eggplant { .body-variant(@brand-eggplant; @btn-eggplant-color; @brand-eggplant; @btn-default-border); }

.section-heading {
  left: 0;
  position: absolute;
  top: 0;
}

.text-success { .text-emphasis-variant(@brand-success); }
.text-info { .text-emphasis-variant(@brand-info); }
.text-warning { .text-emphasis-variant(@brand-warning); }
.text-danger { .text-emphasis-variant(@brand-danger); }
.text-neutral { .text-emphasis-variant(@brand-neutral); }
.text-dark { .text-emphasis-variant(@brand-dark); }
.text-soft { .text-emphasis-variant(@brand-soft); }

.text-xs { font-size: 78%; }
.text-sm { line-height: 1.5; }
.text-xxl { font-size: 800%; }

@media (max-width: @screen-sm-max) {
  .text-xxl { font-size: 200%; }
}

.text-spaced { letter-spacing: @text-spaced; }
.text-black { font-family: @h1-font-family; }
.text-heavy { font-family: 'Avenir-Heavy'; }

.text-underline {
  border-bottom: @text-border-width solid;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }

  a,
  a:hover {
    text-decoration: none;
  }

  h1 > &, h2 > & {
    line-height: @line-height-large * 1.20000003;
  }
}

.list-inline--compact {
  margin-left: 0;

  > li {
    padding-left: 0;
    padding-right: 0;
  }
}

.text-content {
  p:last-child {
    margin-bottom: 0;
  }
}

.text-lead {
  p:first-child {
    .text-lg;
  }
}

.pre {
  white-space: pre;
}

@media (min-width: @screen-md-min) {
  .pre--spaced--md {
    line-height: 2;
  }
}

@media (min-width: @screen-md-min) {
  .text-col-3-md {
    column-count: 3;
    column-gap: 0;

    p { display: inline-block; }
  }
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}

.fixed-line-height-height {
  display: inline-block;
  height: @line-height-computed + 2;
}

.text-baseline-adjust {
  position: relative;
  top: -0.05em;
}
