@accent-height: 378px;

@bg-white: #fff;
@bg-striped: url('/images/bg-stripe.png');
@bg-striped-width: 341px;
@bg-striped-height: 378px;
@bg-striped-dark: url('/images/bg-stripe-dark.png');

@bg-circle-stripes: url('/images/bg-circle-stripes.png');
@bg-circle-stripes-width: 80px;

@bg-dashed: url('/images/bg-dashed.jpg');
@bg-dashed-width: 100%;
@bg-dashed-height: 100%;

@brand-primary: #299fe9;
@brand-success: #85d485;
@brand-info: #84d4cb;
@brand-warning: #efcf86;
@brand-danger: #d24b48;
@brand-neutral: #866c5f;
@brand-dark: #355665;
@brand-soft: #7885ba;
@brand-haze: #FDFD9D;
@brand-clay: #95663A;
@brand-shocking: #E281C9;
@brand-chetwood: #9285D4;
@brand-glade: #CAC993;
@brand-anakiwa: #8FF7F8;
@brand-tan: #FC8F59;
@brand-manz: #D9F270;
@brand-silk: #BEB1A9;
@brand-buccaneer: #653A34;
@brand-eggplant: #664053;

@btn-neutral-color: #fff;
@btn-neutral-bg: @brand-neutral;
@btn-dark-color: #fff;
@btn-dark-bg: @brand-dark;
@btn-soft-color: #fff;
@btn-soft-bg: @brand-soft;
@btn-haze-color: #fff;
@btn-haze-bg: @brand-haze;
@btn-clay-color: #fff;
@btn-clay-bg: @brand-clay;
@btn-shocking-color: #fff;
@btn-shocking-bg: @brand-shocking;
@btn-chetwood-color: #fff;
@btn-chetwood-bg: @brand-chetwood;
@btn-glade-color: #fff;
@btn-glade-bg: @brand-glade;
@btn-anakiwa-color: #fff;
@btn-anakiwa-bg: @brand-anakiwa;
@btn-tan-color: #fff;
@btn-tan-bg: @brand-tan;
@btn-manz-color: #fff;
@btn-manz-bg: @brand-manz;
@btn-silk-color: #fff;
@btn-silk-bg: @brand-silk;
@btn-buccaneer-color: #fff;
@btn-buccaneer-bg: @brand-buccaneer;
@btn-eggplant-color: #fff;
@btn-eggplant-bg: @brand-eggplant;

@btn-default-border: transparent;
@btn-border-radius-base: 0;

@btn-hollow-default-color: @text-color;
@btn-hollow-default-bg: transparent;
@btn-hollow-default-border: @text-color;

@btn-hollow-border-size: 4px;
@btn-hollow-thick-border-size: 7px;

@btn-logo-font-size: 45px;
@btn-logo-border-size: 10px;
@btn-padding-logo-vertical: 10px;
@btn-padding-logo-horizontal: @padding-base;

@btn-padding-horizontal: 38px;
@btn-padding-vertical: @btn-padding-horizontal / 2;

@btn-padding-wide-horizontal: @btn-padding-horizontal * 2;

@btn-menu-font-size: @font-size-base * 2;
@btn-padding-menu-horizontal: 28px;
@btn-padding-menu-vertical: 12px;
@btn-padding-menu-horizontal-xs: @padding-tiny;
@btn-padding-menu-vertical-xs: @padding-xtiny;

@btn-social-font-size: @font-size-base;
@btn-social-width: 41px;
@btn-padding-social-vertical: @padding-small-vertical;
@btn-padding-social-horizontal: @padding-small-horizontal;

@border-color: @gray-alt;
@border-width: 1px;
@border-collapse: -1px;

@body-bg: #f7f8f8;

@blockquote-font-size: @font-size-h3;
@blockquote-quote-font-size: @blockquote-font-size * 4;

@btn-padding-xxl-vertical: floor(@padding-small-vertical / 2);
@btn-padding-xxl-horizontal: @btn-padding-horizontal;
@btn-xxl-font-size: 36px;

@container-tablet: (720px + @grid-gutter-width);
@container-sm: @container-tablet;

@container-desktop: (940px + @grid-gutter-width);
@container-md: @container-desktop;

@container-large-desktop: (1260px + @grid-gutter-width);
@container-lg: @container-large-desktop;

@divider-bg: @gray-base;

@divider-width: 30px;
@divider-height: @divider-width / 3;

@divider-top-pos-xs: 0;
@divider-right-pos-xs: 0;
@divider-bottom-pos-xs: 0;
@divider-left-pos-xs: 0;

@divider-top-pos-sm: @padding-base;
@divider-right-pos-sm: @padding-base;
@divider-bottom-pos-sm: @padding-base;
@divider-left-pos-sm: @padding-base;

@dropdown-border: @border-color;
@dropdown-fallback-border: @border-color;

@dropdown-link-color: @text-color;
@dropdown-link-hover-color: @text-color;
@dropdown-link-hover-bg: @body-bg;

@font-family-sans-serif: 'Avenir-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-size-base-xs: 14px;
@font-size-base-sm: 14px;
@font-size-base-md: 16px;
@font-size-h1-xs: 36px;
@font-size-h1-md: 38px;
@font-size-h1-lg: 55px;
@font-size-h2-xs: 19px;
@font-size-h2-md: 16px;
@font-size-h2-lg: 24px;
@font-size-large: ceil((@font-size-base * 1.14)); // ~16px

@h1-font-family: 'Avenir-Black', 'Helvetica Neue', Helvetica, Arial, sais-serif;

@gray-base: #31363c;
@gray-alt: #e2e3e4;
@gray-lighter: #F4F6F5;

@grid-gutter-width: 60px;

@input-bg: transparent;
@input-bg-disabled: transparent;

@input-color: @text-color;
@input-border: @text-color;
@input-border-focus: #66afe9;
@input-border-size: 3px;

@input-border-radius: 0;
@input-border-radius-large: 0;
@input-border-radius-small: 0;

@input-color-placeholder: @gray-light;

@input-xxl-height: floor((@btn-padding-xxl-vertical * 2) + (@line-height-base * @btn-xxl-font-size) + (@btn-hollow-border-size * 2));
@input-xxl-vertical-padding: @btn-padding-xxl-vertical;
@input-xxl-horizontal-padding: @padding-large-horizontal;
@input-xxl-font-size: @btn-xxl-font-size;

@landing-bg: @body-bg;
@landing-border-size: @padding-base;
@landing-border-color: @text-color;
@landing-zindex: @zindex-modal;

@margin-base: @padding-base / 2;

@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;

@screen-sm: 780px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;

@screen-md: 1000px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;

@screen-lg: 1320px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@services-box-height: 365px;

@subscribe-md-height: 428px;

@text-border-width: 0.2em;
@text-color: @gray-base;
@text-spaced: 2.5px;

@thumbnail-padding: 9px;
@thumbnail-bg: @gray-lighter;
@thumbnail-border: @thumbnail-bg;

@zindex-gallery: @zindex-modal;;
