.form-control-focus(@color: @input-border-focus) {
  @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);

  &:focus {
    border-color: @color;
    box-shadow: none;
    outline: 0;
  }
}
