.body-variant (@text-color; @btn-color; @btn-bg; @btn-border) {
  a, blockquote, .text-body-default, .text-lead p:first-child {
    .text-emphasis-variant(@text-color);
  }

  .btn-body-default {
    .button-variant(@btn-color; @btn-bg; @btn-border);
  }

  .form-control:focus {
    border-color: @btn-bg;
  }
}
